includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src/Installation
        - src/Providers/Starter/StarterInstallerServiceProvider.php
        - src/Console/Commands/Starter/InstallCommand.php
        - src/Console/Commands/Starter/FinalizeInstallationCommand.php
        - src/Services/Starter/StarterAssetPublisher.php
    level: 5
    tmpDir: build/phpstan
